.one{
    background-color: #0a58ca;
}
.two{
    background-color: #20c997;
}
.three{
    background-color: #b6d4fe;
}
.forth{
    background-color: yellow;
}
.a{
    background-color: violet;
}
.b{
    background-color: snow;
}
.c{
    background-color: maroon;
}
.d{
    background-color: lightseagreen;
}
.e{
    background-color: orange;
}
.f{
    background-color: peachpuff;
}