  h1{
        color: darkblue;
        text-decoration:underline;color: red;
        text-align: center;font-family: Chandas;
        font-size: 22px}
      p{
        font-size: 14px;
        font-family: Dialog;
        text-align: left;
      }
     body{
       background-color: seagreen;
     }
     h3{font-size: 16px}
     h4{color: yellow}
     .random{color: blue}
     #testing{color: red}